<p>
    <i><b> *This is the system environment properties. If you have any concern about the system, please contact an
            administrator.</b></i>
</p>

<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="dburl">Database Connection URL</label>
        <div id="dburl"> <i> <b> {{properties.dburl}}</b></i>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="dbuser">Database User</label>
        <div id="dbuser"> <i> <b> {{properties.dbuser}} </b></i></div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="email">Email Account</label>
        <div id="email"> <i> <b> {{properties.email}}</b> </i></div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="mailhost">Mail Host</label>
        <div id="mailhost"> <i> <b> {{properties.mailhost}}</b> </i></div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="mailport">Mail Port</label>
        <div id="mailport"> <i><b> {{properties.mailport}}</b> </i></div>
    </div>
</div>