<p>
    <b> *This is the system environment properties. If you have any concern about the system, please contact the
        administrator.</b>
</p>

<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="dburl">Database Connection URL</label>
        <div id="dburl"> {{properties.dburl}}
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="dbuser">Database User</label>
        <div id="dbuser">{{properties.dbuser}}</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="email">Email Account</label>
        <div id="email">{{properties.email}}</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="mailhost">Mail Host</label>
        <div id="mailhost">{{properties.mailhost}}</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="mailport">Mail Port</label>
        <div id="mailport">{{properties.mailport}}</div>
    </div>
</div>