<div class="p-grid p-formgrid p-fluid">
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="subjectid"> <b>EMAIL SUBJECT</b> </label>
        <input id="subjectid" type="text" pInputText [(ngModel)]="subject">
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="messageid"> <b>MESSAGE</b> </label>
        <p-editor id="messageid" [(ngModel)]="message" [style]="{'height':'320px'}">
        </p-editor>
    </div>
    <div class="p-col-12 p-md-6 p-lg-12 p-field">
        <label for="attachments"> <b>ATTACHMENTS</b> </label>
        <p-fileUpload name="demo[]" customUpload="true" (onSelect)="onUpload($event)" [showUploadButton]="false" [showCancelButton]="false" multiple="multiple">
        </p-fileUpload>
    </div>
</div>

<div class="p-p-md-2">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <div class="p-inputgroup p-mr-2">
                <span class="p-inputgroup-addon"><i class="pi pi-upload"></i></span>
                <input pInputText type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="handleFileInput($event)" class="file-button">
            </div>
            <p-button [disabled]="subject == null || message == null || list.length <= 0 || subject == '' || message == ''" label="Send" icon="pi pi-send" styleClass="p-button-success" (click)="confirmSendingEmail()"></p-button>

        </div>

        <div class="p-toolbar-group-right">

        </div>
    </p-toolbar>
</div>

<p-table [value]="list" styleClass="p-datatable-responsive-demo" [paginator]="true" [rows]="20">
    <ng-template pTemplate="header">
        <tr>
            <th>NAME</th>
            <th>NUMBER</th>
            <th>EMAIL</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td><span class="p-column-title">NAME</span>{{data.name}}</td>
            <td><span class="p-column-title">NUMBER</span>{{data.number}}</td>
            <td><span class="p-column-title">EMAIL</span>{{data.email}}</td>
        </tr>
    </ng-template>
</p-table>

<p-blockUI [blocked]="blocked">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>